@charset "utf-8";

html {
    body {
        font-size: 62.5%;
        
        a {
            overflow: hidden;
            text-decoration: none;
        }
        
    }
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Verdana, "ＭＳ　Ｐゴシック", sans-serif;

$baseColor: #f9f8f6;
$subColor: #887f69;
$red: #9d1a2d;
$gray1: #eeeeee;
$gray2: #b0b0b0;
$pBorder: #e3e8cf;

body {
    background: $baseColor;
    font-family: $ja_font;
    
    h1,h2,h3 {
        margin-bottom: 0;
    }
}

/* header
------------------------------------------------- */
header {
    text-align: center;
    
    .logo {
        margin-top: 1.5rem;
    }
    
    #sp_navi {
        margin: 1.2rem auto;
        letter-spacing: 1.4rem;
    }
    
    
    #pc_navi {
        display: none;
    }
    
    @media (max-width: 550px) {
        
        #hb_menu {
            margin: 0 auto;
            
            ul {
                width: 100vw;
                box-sizing: border-box;
                background: #ff6d77;
                
                padding: 1rem 2rem;
                display: none;
                z-index: 100;
                text-align: left;
                letter-spacing: .1rem;
                @include fontsize(14);
                
                position: absolute;
                top: 100%;
                left: 0;
                
                
                
                
                
                li {
                    list-style: none;
                    padding: 1rem;
                    margin: 0;
                    border-bottom: 1px solid #fff;
                    
                    background: #ff6d77;
                    
                    a {
                        color: #fff;
                    }
                    
                    &:last-child {
                        border-bottom: transparent;
                    }
                }
            }
        }
    }
    
    
    
    /* pc 
    ----------------------*/
    @media (min-width: 550px) {
        #sp_navi {
            display: none;
        }
        
        margin-top: 3rem;
        
        .logo {
            text-align: left;
        }
        
        #head_navi {
            position: static;
        }
    
        
        #pc_navi {
            display: block;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
            margin-bottom: 2rem;
            
            .facebook, .instagram {
                display: block;
            }
            
            a {
                margin-left: 1.5rem;
            }
            
            ul {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0;
                text-align: center;
                
                position: static;
                
                
                border: transparent;
                
                li {
                    list-style: none;
                    margin-bottom: 0;
                    background: transparent;
                    border-bottom: transparent;
                    padding: 0;
                }
            }
        }
    }
    
}
//header

/* contens
----------------------------------------------------------- */

.content {
    background: #fff;
}

#contents {
    
    .carousel {
        width: 98%;
        margin: 0 auto;
    }
    
    h2 {
        text-align: center;
        margin: 1.6rem auto;
        @include fontsize(0);
    }
    
    .bread_list {
        width: 100%;
        box-sizing: border-box;
        background: #e8e4da;
        padding: 1rem;
        margin-bottom: 1rem;
        
        .bread_content {
            
            @include fontsize(12);
            vertical-align: center;
        }
        
        a {
            color: $subColor;
            margin: 0 .5rem;
        }
    }
    
    .cover {
        width: 100%;
        margin-bottom: .5rem;
    }
    
    .product {
        .p_content {
            box-sizing: border-box;
            padding: 2rem 1rem;
        }
        
        .p_name {
            
            padding-bottom: 1.5rem;
            border-bottom: 2px solid $pBorder;
            
            
            div {
                @include fontsize(14);
                font-weight: bold;
                letter-spacing: .2rem;
            }
            
            p {
                color: #a6a6a6;
                @include fontsize(10);
                margin-bottom: 0;
            }
        }
        // .p_name
        
        .p_preview {
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid $pBorder;
            
            #preview {
                width: 100%;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            .p_items {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: space-between;
                position: relative;
                
                .p_item {
                    position: relative;
                    width: 18.75%;
                    background: $gray1;
                    margin-top: 1.25%;
                    
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;
                    }
                    
                    img {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 50;
                    }
                }
                // .p_item
            }
            // .p_items
        }
        // .p_preview
        
        
        table {
            width: 100%;
            text-align: center;
            color: $subColor;
            @include fontsize(12);
            letter-spacing: .1rem;
            margin-bottom: 0;
            
            th, td {
                border: 2px solid #e8e4da;
                
                input {
                        margin: 0;
                        margin-top: 5px;

                       
                }
            }
            
            th {
                background: $baseColor;
            }
        }
        // table
        
        .color_size {
            padding-bottom: 1rem;
        }
        // .color_size
        
        .p_price_quantity {
            
            h3 {
                width: 40%;
                height: 2rem;
            }
            
            
            .p_price {
                display: flex;
                align-items: baseline;
                padding-bottom: 1rem;
                border-bottom: 2px solid $pBorder;
                border-top: 2px solid $pBorder;
                
                span {
                    color: #e80f66;
                    font-style: oblique;
                    font-weight: bold;
                }
                
                .yen {
                        @include fontsize(5);
                    }
                    
                .price {
                    @include fontsize(16);
                }
            }
            // .p_price
            
            .p_quantity {
                display: flex;
                align-items: baseline;
                padding-bottom: 1rem;
                border-bottom: 2px solid $pBorder;
                margin-bottom: 1rem;
                
                input {
                    border: 1px solid $gray1;
                    margin: 0;
                    padding: 3px 4px;
                    width: 40%;
                    height: 2rem;
                }
            }
        }
        // .p_price_quantity
        
        .cart {
            text-align: center;
        }
        
        .p_description {
            
            h3 {
                color: $subColor;
                @include fontsize(16);
                font-weight: bold;
                letter-spacing: .1rem;
                padding: 2rem 0 1rem 0;
                border-bottom: 2px solid $pBorder;
            }
            
            h4 {
                color: $subColor;
                @include fontsize(14);
                font-weight: bold;
                letter-spacing: .2rem;
                margin: 1rem 0;
            }
            
            p {
                @include fontsize(12);
                font-weight: bold;
                letter-spacing: .1rem;
            }
            
            table {
                th {
                    width: 35%;
                }
                
                td {
                    text-align: left;
                }
            }
        }
        // .p_description
        
    }
    // .puroduct
    
    .items {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .item {
            box-sizing: border-box;
            padding: 1rem;
            width: 49.5%;
            margin: .1em 0;
        
            @include fontsize(12);
            
            .item_name {
                margin-bottom: 1.5rem;
            }
            
            .item_prace {
                margin-bottom: .5rem;
            }
        }
    }
    // .items
    
    .pagenation {
        width: 100%;
        
        margin-top: 3rem;
        display: inline-flex;
        justify-content: space-between;
        
        .page_btn {
             display: inline-block;
             box-sizing: border-box;
             
             width: 12rem;
             height: 4rem;
             
             background: $subColor;
             color: $baseColor;
             
             @include fontsize(14);
             font-weight: bold;
             text-transform: uppercase;
             
             text-align: center;
             
             padding: 1rem 1.5rem;
             
        }
    }
    
    .shopping_guide {
        .container {
            padding: 0;
            width: 98%;
            
        }
        .guide_content {
            
            margin: 0 auto;
            margin-bottom: .5rem;
            
            box-sizing: border-box;
            padding: 2rem;
            
            @include fontsize(12);
            
            img {
                margin-bottom: 1rem;
            }
            h3 {
                color: $subColor;
                @include fontsize(20);
                font-weight: bold;
                margin-bottom: 1.5rem;
            }
            .guide_li {
                li {
                    list-style: none;
                    margin: 0;
                    
                    p {
                        margin-bottom: 1rem;
                    }
                }
            }

            
            h4 {
                color: $subColor;
                @include fontsize(12);
                font-weight: bold;
                letter-spacing: .1rem;
                margin-bottom: 1rem;
            }
            
            
        }
    }
    
    
    /* sidebar
    ------------------------------------------------*/
    
    #sidebar {
        
        .subbar_content {
            width: 98%;
            margin: 0 auto;
        }
        
        .search {
            h3 {
                display: none;
            }
            
            
           #search_form {
               display: flex;
               justify-content: center;
               align-items: center;
               margin: 1rem auto;
               
               
               #search_box, #search_btn {
                   background: $gray1;
                   border: transparent;
                   border-radius: 0;
                   margin: 3rem 0;
                   
               }
               
               #search_box {
                   
                   width: 80%;
                   font-style: oblique;
                   
                   &::placeholder {
                       color: #b5b5b5;
                   }
               }
               
               
               
               #search_btn {
                   box-sizing: border-box;
                   width: 3rem;
                   height: auto;
                   padding: 0 3px;
                   

                   background-image: url("../images/top/search_icon.png");
                   background-repeat: no-repeat;
                   background-position: 50% 50%;
                    
               }
           } 
        }
        // search
        
        .subbar_title {
            background: $subColor;
            box-sizing: border-box;
            
            
            width: 98%;
            margin: 1rem auto 0 auto;
            padding: 1.5rem;
            
        }
        
        .next {
            
            background-image: url("../images/top/next_icon.png");
            background-repeat: no-repeat;
            background-position: 95% 50%;
        }
        
        .down {
            background-image: url("../images/top/down_icon.png");
            background-repeat: no-repeat;
            background-position: 95% 50%;
        }
        
        .categories {
            .c_navi {
                a {
                    text-decoration: none;
                    color: #000;
                    @include fontsize(12);

                }
                
                li {
                    box-sizing: border-box;
                    padding: 1.5rem;
                    background: #fff;
                    margin: .2rem auto;
                    list-style: none;
                    
                    background-image: url("../images/top/next_icon_gray.png");
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                }
            }
        }
        // categories
        
        .sub_inner {
            
            box-sizing: border-box;
            display: flex;
            
            padding: 1rem;
            
            .sub_columns {
                width: 50%;
                
                p, a.image_btn {
                    padding-left: 1rem;
                }
                
                p {
                    @include fontsize(12);
                }
                
            }
        }
        
    }
    // #sidebar
    
    .page_jump {
        text-align: center;
        margin: 2rem auto 0 auto;
        padding-bottom: 2rem;
        border-bottom: 1px solid #9f9785;
    }
    
    
    /* pc #contents
    ---------------------------------*/
    
    @media (min-width: 550px) {

        .items {
            
            .item {
                width: 33%;
            }
        }
        
        .product {
            .p_preview {
                display: flex;
                justify-content: space-between;
                align-items: space-between;
                
                #preview {
                    width: 70%;
                    
                }
                
                .p_items {
                    width: 28%;
                    align-items: space-between;
                    
                    .p_item {
                        width: 49%;
                    }
                }
            }
            // .p_preview
            
            .p_container {
                display: flex;
                
                .p_price_quantity {
                    width : 60%
                }
                
                .cart {
                    width: 40%;
                    box-sizing: border-box;
                    padding-left: 2rem;
                }
            }
            
            
        }
        //. product
        
        .shopping_guide {
            margin: 0 auto;
            .shopping_container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0;
                
                .guide_content, content {
                    width: 49%;
                    margin: 0;
                }
            }
        }
        //shopping_guide
        
        #sidebar {
            .search {
                h3 {
                    display: block;
                    margin-bottom: 1rem;
                    padding-top: 2rem;
                    font-size: 0;
                }
                
                
                .search_content {
                    
                    width: 80%;
                    margin: 0 auto;
                    
                    #search_form {
                        margin-top: 0;
                        
                        #search_box, #search_btn {
                            margin: 0;
                            margin-bottom: 2rem;
                        }
                    }
                }
                //search_content
            }
            // .search
            
            .sub_inner {
                flex-direction: column;
                
                .sub_columns {
                    width: 100%;
                    
                    p, a.image_btn {
                        padding: 0;
                    }
                    
                    .btn_area {
                        text-align: center;
                    }
                    
                }
            }
            // .sub_inner
        }
        // #sidebar
        
        .page_jump {
            text-align: right;
            padding-bottom: 1rem;
        }
    }
    // pc
}
// #contents

/* footer
---------------------------------------------*/
footer {
    .footer_content {
        
        width: 80%;
        margin: 2rem auto 10rem auto;
        @include fontsize(12);
        text-align: center;
        
        .foot_navi {
        
            ul {
                
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0;
                
                li {
                    list-style: none;
                    margin-right: .5rem;
                    
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
        
        small {
            color: $gray2;
            letter-spacing: .1rem;
        }
    }
    
}

body {
    .sp {
        display: inline-block;
    }
    
    .pc {
        display: none;
    }
    
    @media (min-width: 550px) {
        .sp {
            display: none;
        }
        
        .pc {
            display: inline-block;
        }
    }
}






