@charset "UTF-8";
html body {
  font-size: 62.5%; }
  html body a {
    overflow: hidden;
    text-decoration: none; }

body {
  background: #f9f8f6;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Verdana, "ＭＳ　Ｐゴシック", sans-serif; }

/* header
------------------------------------------------- */
header {
  text-align: center;
  /* pc 
  ----------------------*/ }
  header .logo {
    margin-top: 1.5rem; }
  header #sp_navi {
    margin: 1.2rem auto;
    letter-spacing: 1.4rem; }
  header .head_navi {
    position: relative; }
  header #pc_navi .facebook, header #pc_navi .instagram {
    display: none; }
  header #pc_navi ul {
    display: none;
    z-index: 100;
    text-align: left;
    border: 1px solid #b0b0b0;
    position: absolute;
    top: 100%;
    left: 50%; }
    header #pc_navi ul li {
      list-style: none;
      padding: 1rem;
      margin: 0;
      border-bottom: 1px solid #b0b0b0;
      background: #f9f8f6; }
  @media (min-width: 551px) {
    header {
      margin-top: 3rem; }
      header #sp_navi {
        display: none; }
      header .logo {
        text-align: left; }
      header #head_navi {
        position: static; }
      header #pc_navi {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 2rem; }
        header #pc_navi .facebook, header #pc_navi .instagram {
          display: block; }
        header #pc_navi a {
          margin-left: 1.5rem; }
        header #pc_navi ul {
          display: block;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
          text-align: center;
          position: static;
          border: transparent; }
          header #pc_navi ul li {
            list-style: none;
            margin-bottom: 0;
            background: transparent;
            border-bottom: transparent;
            padding: 0; } }

/* contens
----------------------------------------------------------- */
.content {
  background: #fff; }

#contents {
  /* sidebar
  ------------------------------------------------*/
  /* pc
  ---------------------------------*/ }
  #contents .carousel {
    width: 98%;
    margin: 0 auto; }
  #contents h2 {
    text-align: center;
    margin: 1.6rem auto;
    font-size: 0px;
    font-size: 0rem; }
  #contents .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #contents .items .item {
      box-sizing: border-box;
      padding: 1rem;
      width: 49%;
      margin: .1rem .1rem .1rem 0;
      font-size: 12px;
      font-size: 1.2rem; }
      #contents .items .item .item_name {
        margin-bottom: 1.5rem; }
      #contents .items .item .item_prace {
        margin-bottom: .5rem; }
  #contents .shopping_guide .container {
    padding: 0;
    width: 98%; }
  #contents .shopping_guide .guide_content {
    margin: 0 auto;
    margin-bottom: .5rem;
    box-sizing: border-box;
    padding: 2rem;
    font-size: 12px;
    font-size: 1.2rem; }
    #contents .shopping_guide .guide_content img {
      margin-bottom: 1rem; }
    #contents .shopping_guide .guide_content h3 {
      color: #887f69;
      font-size: 20px;
      font-size: 2rem;
      font-weight: bold; }
    #contents .shopping_guide .guide_content .guide_li li {
      list-style: none;
      margin: 0; }
      #contents .shopping_guide .guide_content .guide_li li p {
        margin-bottom: 1rem; }
    #contents .shopping_guide .guide_content h4 {
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: .1rem;
      margin-bottom: 1rem; }
  #contents #sidebar .subbar_content {
    width: 98%;
    margin: 0 auto; }
  #contents #sidebar .search h3 {
    display: none; }
  #contents #sidebar .search #search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto; }
    #contents #sidebar .search #search_form #search_box, #contents #sidebar .search #search_form #search_btn {
      background: #eeeeee;
      border: transparent;
      border-radius: 0;
      margin: 3rem 0; }
    #contents #sidebar .search #search_form #search_box {
      width: 80%;
      font-style: oblique; }
      #contents #sidebar .search #search_form #search_box::placeholder {
        color: #b5b5b5; }
    #contents #sidebar .search #search_form #search_btn {
      box-sizing: border-box;
      width: 3rem;
      height: auto;
      padding: 0 3px;
      background-image: url("../images/top/search_icon.png");
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  #contents #sidebar .subbar_title {
    background: #887f69;
    box-sizing: border-box;
    width: 98%;
    margin: 1rem auto 0 auto;
    padding: 1.5rem; }
  #contents #sidebar .next {
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  #contents #sidebar .down {
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  #contents #sidebar .categories .c_navi a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-size: 1.2rem; }
  #contents #sidebar .categories .c_navi li {
    box-sizing: border-box;
    padding: 1.5rem;
    background: #fff;
    margin: .2rem auto;
    list-style: none;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  #contents #sidebar .sub_inner {
    box-sizing: border-box;
    display: flex;
    padding: 1rem; }
    #contents #sidebar .sub_inner .sub_columns {
      width: 50%; }
      #contents #sidebar .sub_inner .sub_columns p, #contents #sidebar .sub_inner .sub_columns a.image_btn {
        padding-left: 1rem; }
      #contents #sidebar .sub_inner .sub_columns p {
        font-size: 12px;
        font-size: 1.2rem; }
  #contents .page_jump {
    text-align: center;
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem;
    border-bottom: 1px solid #9f9785; }
  #contents .pc_h2 {
    display: none; }
  @media (min-width: 551px) {
    #contents .sp_h2 {
      display: none; }
    #contents .pc_h2 {
      display: block; }
    #contents .items .item {
      width: 33%; }
    #contents .shopping_guide {
      margin: 0 auto; }
      #contents .shopping_guide .shopping_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0; }
        #contents .shopping_guide .shopping_container .guide_content, #contents .shopping_guide .shopping_container content {
          width: 49%;
          margin: 0; }
    #contents #sidebar .search h3 {
      display: block;
      margin-bottom: 1rem;
      padding-top: 2rem;
      font-size: 0; }
    #contents #sidebar .search .search_content {
      width: 80%;
      margin: 0 auto; }
      #contents #sidebar .search .search_content #search_form {
        margin-top: 0; }
        #contents #sidebar .search .search_content #search_form #search_box, #contents #sidebar .search .search_content #search_form #search_btn {
          margin: 0;
          margin-bottom: 2rem; }
    #contents #sidebar .sub_inner {
      flex-direction: column; }
      #contents #sidebar .sub_inner .sub_columns {
        width: 100%; }
        #contents #sidebar .sub_inner .sub_columns p, #contents #sidebar .sub_inner .sub_columns a.image_btn {
          padding: 0; }
        #contents #sidebar .sub_inner .sub_columns .btn_area {
          text-align: center; }
    #contents .page_jump {
      text-align: right;
      padding-bottom: 1rem; } }

/* footer
---------------------------------------------*/
footer .footer_content {
  width: 80%;
  margin: 2rem auto 10rem auto;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center; }
  footer .footer_content .foot_navi ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0; }
    footer .footer_content .foot_navi ul li {
      list-style: none;
      margin-right: .5rem; }
      footer .footer_content .foot_navi ul li a {
        text-decoration: none;
        color: #000; }
  footer .footer_content small {
    color: #b0b0b0;
    letter-spacing: .1rem; }

/*# sourceMappingURL=style.css.map */
